/*--------------------------------------------------------
* stylesheet.css 
*---------------------------------------------------------
〈概要〉
*  index.htmlのスタイルを定義するCSSファイル
----------------------------------------------------------
〈内容〉
* bodyの背景色を設定
* テキストの色を設定
* ヘッダーの背景色を設定
* フォントファミリー、サイズ、色を設定
--------------------------------------------------------*/

/* Bodyの設定 */
    body {
        background-color: #1c122e;
    }
    body {
        font-family: 'Arial', sans-serif;
        color: #ffffff;
    }
    
/* ヘッダーの設定 */
    .header {
        background-color: #4a4758;
    }

    .font-default {
        font-size: 16px;
    }